body {
    background-color: aqua;
    margin: auto;
    display: inline-block;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.section-div {
    background-color: brown;
    margin: 4px;
    padding: 4px;
    border: 3px solid blue;
}

.btn {
    margin: 3px;
    padding: 3px;
    border: 2px solid red;
    width: 9em;
    height: 5em;
    cursor: pointer;
    /* Smoothly animates any changes over 0.3 seconds */
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: grey;
    color: black;
    /* FIXED: Added horizontal, vertical, blur, and color values */
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 1);
    opacity: 0.8;
    /* transform: scale(1.05); */

    transform: translateY(-2px);
}